<div class= 'container'>
    <div class='title'>
        Register
    </div>
    <label for="">USERNAME</label>
    <input type="text">
    <label for="">EMAIL</label>
    <input type="text">
    <label for="">PASSWORD</label>
    <input type="password">
    <label for="">PASSWORD AGAIN</label>
    <input type="password">
    <input type="checkbox" class='chb'>
    <label for="" class='chbl'>I am not a robot</label>
    <div class='bottom'>
        <button routerLink=''>BACK TO LOGIN</button>
        <button class='right'>REGISTER</button>
    </div>
    
</div>


