<div class='menu'>
    <app-menubar></app-menubar>
</div>

<div class='title'>
    <span>Food &Stuff </span>
    <span>/ Food</span>
</div>


<div class='containerm'>
    <div class='left flexitem'>
        <div class='container'>
            <h3>Food & Stuff</h3>
            <h4>Food</h4>
            <h4>Stuff</h4>
        </div>
    </div>


    <div class='flexitem middle'>
        <div class='filter'>
            <span class='category'>Food</span>
            <div class='property'>
                <table>
                    <tr>
                        <th>Name</th>
                        <th>Type</th>
                        <th>Allergies</th>
                    </tr>

                    <tr>
                        <td>
                            <input type="text">
                            
                        </td>
                        <td>
                            <select name="" id="">
                                <option value="">Selecteaza..</option>
                            </select>
                        </td>
                        <td>
                            <select name="" id="">
                                <option value="">Selecteaza..</option>
                            </select>
                        </td>
                    </tr>
                </table>
            </div>

            <div class='afisare'>
                Tip afisare:
                <fa-icon [icon]='faBars' class='afis'></fa-icon>
                <fa-icon [icon]='faSquare' class='afis'></fa-icon>
            </div>
        </div>



        <div class='listView containerm'>
            <div class= 'image'>
                Picure here
            </div>
            <div class='details'>
                say something here
            </div>
            <div class='cost'>
                <div class='stoc'>in stoc</div>
                <div class='howMuch'>1999</div>
                <button> <fa-icon [icon]='faCartPlus' class='icon'></fa-icon>Adauga in cos</button>
            </div>
        </div>


        <div class='blockView containerm'>
            <div class='item'>
                <div class='image'>

                </div>
                <div class='title'>
                    Laptop
                </div>
                <div class='stoc'>
                    in stoc
                </div>
                <div class='howMuch'>
                    1999
                </div>
            </div>


            <div class='item'>
                <div class='image'>

                </div>
                <div class='title'>
                    Laptop
                </div>
                <div class='stoc'>
                    in stoc
                </div>
                <div class='howMuch'>
                    1999
                </div>
            </div>

            <div class='item'>
                <div class='image'>

                </div>
                <div class='title'>
                    Laptop
                </div>
                <div class='stoc'>
                    in stoc
                </div>
                <div class='howMuch'>
                    1999
                </div>
            </div>

            <div class='item'>
                <div class='image'>

                </div>
                <div class='title'>
                    Laptop
                </div>
                <div class='stoc'>
                    in stoc
                </div>
                <div class='howMuch'>
                    1999
                </div>
            </div>
        </div>
    </div>


    <div class='right flexitem'>
        <div class='cart'>
            
        </div>
    </div>
</div>

