<div class='main'>


    <div class="dropdown" *ngIf='user.privilege==1'>
        <button class="dropbtn">
            <fa-icon [icon]='faBars'></fa-icon>
        </button>
        <div class="dropdown-content">
          <a href="#">Add new item</a>
        </div>
    </div>

    <div class='now'>
        {{ CurrentDate | date:'HH:mm'}}
    </div>
    
    <div class='date'>
        {{ CurrentDate | date:'dd/MM/yyyy' }}
    </div>
    
    <div class="dropdown user">
        <button class="dropbtn">
            <fa-icon [icon]='faUser'></fa-icon>
            {{user.username}}
        </button>
        <div class="dropdown-content">
          <a href="/login" (click)='logout()'>Log out</a>
        </div>
    </div>

    

    
</div>
