<div class='main'>

    <div class="dropdown">
        <button class="dropbtn">
            <fa-icon [icon]='faBars'></fa-icon>
        </button>
        <div class="dropdown-content">
          <a href="#">Log out</a>
        </div>
    </div>

    <div class='now'>
        Now
    </div>
    
    <div class='date'>
        Today
    </div>
    
    <div class="dropdown user">
        <button class="dropbtn">
            <fa-icon [icon]='faUser'></fa-icon>
            Name
        </button>
        <div class="dropdown-content">
          <a href="#">Log out</a>
        </div>
    </div>

    

    
</div>
